@font-face {
    font-family: 'Tilt Neon', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    src: url('./TiltNeon.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

:root {
    --header-bg: rgb(118, 171, 209);
    --header-text: rgb(60, 60, 60);
    --nav-hover: rgb(25, 25, 25);
    --main-bg: rgb(173, 176, 179);
    --completed-task: lightgray;
    --shade-bg: rgba(0, 0, 0, 0.80);
    --input-bg: rgb(137, 159, 175);

}

body {
    font-family: 'Tilt Neon';
    padding: 0;
    margin: 0;
}

.main-header {
    text-align: center;
    background: var(--header-bg);
    color: var(--header-text);
    font-size: 3rem;
    font-weight: bold;
    padding: .5rem;
    margin-bottom: 0;
    margin-top: 0;
}

.main-container {
    margin-top: 0;
    padding: 0;
    display: flex;
    align-items: stretch;
}

.side-bar {
    background: var(--header-bg);
    color: var(--header-text);
    margin-top: 0;
    /* height: calc(100vh - 4rem); */
    height: 100vh;
    width: 250px;
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: 1.25rem;
}

.side-bar input {
    background: var(--input-bg);
    cursor: pointer;
}

.nav-links {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.nav-links li {
    display: flex;
    align-items: center;
    /* font-size: 1.25rem; */
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: .25s;
}

.nav-links li:hover {
    position: relative;
    scale: 1.1;
    transform: translateX(.25rem);
    color: var(--nav-hover);
}

.nav-links li p {
    margin: 0;
}

.nav-links svg {
    width: 3rem;
}

.add-task-button {
    font-size: 1.25rem;
    font-family: 'Tilt Neon';
    align-self: center;
}

.task-list-container {
    background: var(--main-bg);
    flex-grow: 1;
}

.task-list-item {
    list-style: none;
    display: flex;
}

.completed-task {
    text-decoration: line-through;
    color: var(--completed-task);
}

.task-module {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background: var(--shade-bg);
    display: none;
    justify-content: center;
    align-items: center;
}

.new-task-module {
    background: var(--header-bg);
    color: var(--header-text);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: .25rem;
    row-gap: .5rem;
}

.new-task-module input,
select,
button,
textarea {
    background: var(--input-bg);
}

.task-list-item {
    display: grid;
    grid-template-columns: 2rem 2rem 1fr 4rem 2rem 1rem;
    width: 75%;
    gap: 1rem;
    margin-bottom: .5rem;
    border: 1px solid slategray;
}

.task-list-item :nth-child(4),
:nth-child(5) {
    justify-self: flex-end;
}


.task-list-item :nth-child(3){
    margin-left: auto;
}

.low {
    border-left: 5px solid green;
}

.medium {
    border-left: 5px solid yellow;
}

.high {
    border-left: 5px solid red;
}
